functions-framework==3.*
google-cloud-logging==3.12.1
google-cloud-spanner==3.20.0 # Added for Cloud Spanner Graph
langchain-google-vertexai==2.0.28
langchain==0.3.27
langchain-core==0.3.74
scikit-learn==1.5.0 # Added for cosine_similarity